h1 {
  font-size: 80px;
  font-family: helvetica;
  font-family: lobster, sans-serif;
  text-align: center;

}

.heading-text {
  color: red;
  font-size: 40px;
  font-family: lobster;
}

p {
  font-size: 25px;
  font-family: lobster;
}

ul {
  font-size: 25px;
  font-family: lobster;
}


img {
  max-width: 1000px;
}

.border {
  border-width: 8px;
  border-style: ridge;
  border-radius: 10px;
  border-color: #8acff0;

}

ol {
  font-size: 25px;
  font-family: lobster;
}

.the-form {
  background-color: silver;
}

.two-questions {
  background-color: brown;
  border-style: dashed;
  border-width: 8px;
  padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
}
