body {
margin: 10px 100px 30px 100px;
background-color: #FFDAE0;
font-family: lobster;
}


h1 {
  font-size: 80px;
  text-align: center;

}

.heading-text {
  color: red;
  font-size: 40px;
}

#blue-heading-text {
  color: blue;
  font-size: 42px;
}

p {
  font-size: 25px;
}

ul {
  font-size: 25px;
}


img {
  max-width: 1000px;
  align-items: middle;

}

.border {
  border-width: 8px;
  border-style: ridge;
  border-radius: 10px;
  border-color: #8acff0;

}

ol {
  font-size: 25px;
}

.the-form {
  background-color: silver;
  padding: 30px;
    border-radius: 10px;
}

.two-questions {
  background-color: #DCDCDC;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  padding: 10px 30px 10px 10px;
  margin-bottom: 100px;

}

.box {
  border: solid;
  border-color: black;
  border-width: 5px;
    border-radius: 10px;
}

.box1 {
  padding: 10px;
  background-color: #909090;
}

.box2 {
  padding: 10px 10px 10px 50px;
  margin: 30px;
  background-color: 	#FFC0CB;
}

.box3 {
  padding: 10px;
  margin: 30px;
  background-color: #8B008B;
}

.blue-text {
  color: blue;
}
